global:
  smtp_smarthost: 'smtp.gmail.com:587'
  smtp_from: 'shivang.kataria.in@gmail.com'
  smtp_auth_username: 'shivang.kataria.in@gmail.com'
  smtp_auth_password: '*********' 

route:
  group_by: ['alertname']
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 1h
  receiver: 'email-alerts'

receivers:
  - name: 'email-alerts'
    email_configs:
      - to: 'shivang200269@gmail.com'